<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Início</a>
      <a class="nav-item nav-link" href="/login">Login</a>
      <a class="nav-item nav-link" href="/home">Home</a>
      <a class="nav-item nav-link" href="/insert_user">Cadastrar</a>
      <a class="nav-item nav-link" href="/read_users">Listar</a>
      <a class="nav-item nav-link" href="/delete_user">Deletar</a>
      <a class="nav-item nav-link" href="/logout">Sair</a>
    </div>
  </div>
</nav>